[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfomod = "1.2.1"
pynxm = "*"
pyinquirer = "*"
plac = "*"
xdg = "*"
download = "*"

[dev-packages]

[requires]
python_version = "3.9"
